*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.main {
    /*font-family: 'Courier New', sans-serif;*/
}

a {
    font-size: 1.35em;
    color: #676c8c;
}
.wrapper
{
    width: 50%;
    margin: 0 auto;
}
.wrapper-printable
{
    width: 100%;
    font-size: .65em;
}
.wrapper-printable .main .resume-description-en h4{
    margin-top: .9em;
}
.short-about {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.contacts {
    flex: 1;
    width: fit-content;
}
.contacts a {
    text-decoration: none;
    color: #676c8c;
    display: flex;
}
.photo {
    flex: 1;
    text-align: center;
}
.photo img {
    width: 80px;
    border-radius: 15%;
    box-shadow: 0px 0px 8px 0px #797979;
    border: 1px solid #fff;
}
.slogan {
    text-align: center;
}
h4 {
    margin-top: 1.5em;
    background: #efefef;
    padding: 3px;
}
.books-list, .code-projects {
    margin-top: 1em;
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
}
ul li {
    margin-top: .5em;
    margin-bottom: .5em;
}

.code-projects ul li a {
    text-decoration: none;
    font-size: 1em;
}
.tools-container {
    flex: 1;
    text-align: right;
    font-size: .85em;
}
.tools-container-printable
{
    display: none;
}
.resume-title {
    font-weight: 600;
    margin-left: 1em;
}
.resume-description {
    margin-left: 2em;
}
.resume-chapter {
    margin-top: .5em;
    margin-bottom: .2em;
    font-weight: 600;
}

.copied {
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

@media (min-width: 948px) and (max-width: 1280px) {

}
@media (min-width: 783px) and (max-width: 947px) {
    .wrapper {
        width: 80%;
    }
}
@media (min-width: 481px) and (max-width: 782px) {
    .wrapper {
        width: 95%;
    }
}
@media (min-width: 100px) and (max-width: 480px) {
    .wrapper {
        width: 95%;
    }
    .flex-row-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .photo {
        display: none;
    }
    .tools-container {
        text-align: left;
        font-size: 1em;
    }
}

.resume-description-ru {
    display: none;
}

/* Collapsible styles */
.collapsible {
    cursor: pointer;
    position: relative;
}

.collapsible::after {
    content: '\002B'; /* Plus sign */
    position: absolute;
    right: 10px;
    font-weight: bold;
}

.collapsible.active::after {
    content: '\2212'; /* Minus sign */
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-content.active {
    max-height: 100px; /* Adjust based on content */
}

/* Print styles */
@media print {
    .collapsible-content {
        max-height: none !important;
        overflow: visible !important;
    }

    .collapsible::after {
        display: none; /* Hide the plus/minus signs when printing */
    }

    .code-projects {
        display: none; /* Hide code examples when printing */
    }
}
